bundles/org.openhab.binding.nadavr/doc/NAD_Preset_Names.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tunerPresets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="preset" maxOccurs="40" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="band">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="AM" />
                    <xs:enumeration value="FM" />
                    <xs:enumeration value="DAB" />
                    <xs:enumeration value="XM" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="frequency"> 
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="6"></xs:maxLength>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20" />
                    <xs:minLength value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:pattern value="[0-9][0-9]"/>
                  <xs:minInclusive value="1" />
                  <xs:maxInclusive value="40" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>